html,
body {
  background: #fff;
}
.van-cell-group--inset{
  margin:0  10px!important;
}
.van-cell-group__title--inset{
  padding:15px 15px 5px 15px!important;
}

.button-group-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#app .van-col{
  margin: 5px 0;
}
#app .button-group-container{
  margin: 5px!important;
  .van-button{
    margin: unset;
  }
}
#app .van-button + .van-button{
  margin-left: 5px;
}
#app .van-cell__title{
  color: #646566;
}


.flexPrice{
  display: flex; justify-content: space-between; justify-items: center; align-items: center; width: 100%
}
.van-tag+.van-tag{margin-left: 5px;}
